@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CashControl</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        body {
            background-image: url(../images/background.jpg); 
            background-repeat:no-repeat;
            background-size:cover;
        }
    </style>
</head>
<body style="padding-top: 0px"> 
<nav class="navbar navbar-default">  
            <div class="container-fluid">  
                <div class="navbar-header">  
                    <label class="navbar-brand">CashControl</label>  
                </div>  
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Transactions" asp-action="Index">Management</a></li>
                    <li><a asp-controller="Report" asp-action="Index">Report</a></li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-controller="User" asp-action="Login">Sign in</a></li>
                    <li><a asp-controller="User" asp-action="Logout">Sign out</a></li>
                    <li><a asp-controller="User" asp-action="Register">Register</a></li>
                </ul>
            </div>  
        </nav>
        <div>
            @RenderBody()
        </div>
</body>
</html>
